---
import Section from "@/components/Section.astro";

import { getI18N } from "@/i18n";
import { useTranslations, getLangFromUrl } from "i18n/utils";

const language = getLangFromUrl(Astro.url);
const translate = useTranslations(language);

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { diplomas } = i18n;
---

<Section title={translate(".diplomas")}>
  <ul class="card-list">
    {
      diplomas.map((diploma) => (
        <li>
          <a href={diploma.url} target="_blank" rel="noopener noreferrer">
            <header>
              <h3>{diploma.issuer}</h3>
            </header>
            <p>{diploma.date}</p>
            <img
              src={diploma.image}
              alt={`${diploma.name} logo`}
              width="220"
              height="160"
              loading="lazy"
            />
          </a>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid var(--main-fg-color);
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  h3 {
    color: var(--main-aqua-color);
  }

  li {
    transition: filter 150ms ease-in-out;
  }

  .card-list:has(li:hover) li:not(:hover) {
    filter: blur(4px);
  }

  @media (max-width: 380px) {
    ul {
      justify-items: center;
    }
  }
</style>
