---
import { work } from "@/cv"
import Section from "@/components/Section.astro"
---

<Section title="Work">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights }) => {

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{name}</h3>
                    <h4>{position}</h4>
                  </div>
                  <time>{startDate} - {endDate}</time>
                </header>
                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    color: #FF4500;
  }

  article h4 {
    color: #282828;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  time {
    font-size: 0.8em;
    color: #F7562A;
  }
</style>
