---
import Section from "@/components/Section.astro";

import { getI18N } from "@/i18n";
import { useTranslations, getLangFromUrl } from "i18n/utils";

const language = getLangFromUrl(Astro.url);
const translate = useTranslations(language);

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { work } = i18n;
---

<Section title={translate(".work")}>
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                  <h4>{position}</h4>
                </div>
                <time>
                  {startDate} - {endDate}
                </time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    color: #ff4500;
  }

  article h4 {
    color: #282828;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  time {
    font-size: 0.8em;
    color: #f7562a;
  }
</style>
